

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    
    background-color: rgb(214, 12, 255);
    
}




.block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    justify-content: space-evenly;
    height: 100px;
    text-align: left;
    font-size: 150%;
}


a {
    text-decoration: none;
    color: white;
}

#image {
    width: 500px;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div1 {
    padding: 100px;
    width: 600px;
    padding-left: 600px;

    
}

p {
    font-size: 200%;
    width: 600px;
  
}

h5 {
    font-size: 1.7em;
    background-color: black;
}

#test {
    text-align: center;
    font-size: 300%;
}

#div3 {
    width: 500px;
    font-size: 100%;
    text-align: center;
}

.list {
    width: 600px;
}

#head-how {
    text-align: center;
    font-size: 400%;
    padding: 10px;
}

#more1 {
    text-align: center;
    font-size: 300%;
}


#p {
    width: 600px;

}



.width {
    width: 600px;
}

.bike {
    width: 800px;
}

.center {
    text-align: center;
   
}

.right1 {
    margin-left: auto;   
    width: 600px;
}

body {
    animation: hello 20s infinite;
  
 
}


@keyframes hello{
    0%{background-color: rgb(245, 217, 235);}
    10%{background-color: rgb(255, 201, 255);}
    20%{background-color: rgb(219, 141, 180);}
    30%{background-color: rgb(211, 136, 211);}
    40%{background-color: rgb(190, 108, 190);}
    50%{background-color: rgb(170, 84, 170);}
    60%{background-color: rgb(211, 60, 211);}
    70%{background-color: rgb(218, 140, 194);}
    80%{background-color: rgb(238, 184, 238);}
    90%{background-color: rgb(226, 177, 226);}
    100%{background-color: rgb(236, 191, 221);}
  }






#button1 {
    font-size: 350%;
    text-align: center;
}

#yes {
height: 200%;
width: 200%;
border-radius: 50%;
}

.one {
    width: 100%;
    height: 100%;
    
}

#size {
    width:40vw;
    
}

#big {
font-size: 400%;
}

#large {
    font-size: 300%;
}



#aboutme {
    width: 700px;
}

#yay {
    height: 600px;
    width: 600px;
    
}


#donate {
   color: black;
   font-size: 400%;
   padding: 45px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   

}

#div4 {
    display: inline-block;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 2%;
    padding: 2%;
    background-color: rgb(0, 0, 0);
}


#mypic {
    height: 250px;
    width: 200px;
    border-radius: 50%;
}

#is {
    font-size: 50px;
    text-align: center;
    padding: 50px;
}




header {
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1422493757035-1e5e03968f95?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1555&q=80");
    background-size: 100% 100%;

}


.center2 {
    display: flex;
    }



* {
    margin: 0;
    padding: 0;
   
}

.moreabout {
    text-align: center;
}



#donate2 {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    background-color: rgb(166, 226, 228);
    
}




